#pragma once

#define WIFI_SSID                   "your ssid here"
#define WIFI_PASS                   "your password here"

#define MQTT_URI                    "mqtt://your broker:port here"      // IP or FQDN
#define MQTT_USER                   ""                                  // Only fill in user/pass if MQTT authentication
#define MQTT_PASS                   ""                                  // is enabled on the broker.